{% extends 'authapp/base.html' %}
{% load static %}

{% block heading %}
    Редактирование категории
{% endblock %}

{% block content %}
    <form class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" class="form-control" value="сохранить">
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'admin:categories' %}">
            к списку товаров
        </a>
    </button>
{% endblock %}